<div class="login-page">

    <div class="left-panel">

    </div>

    <div class="right-panel">

        <div class="login-box">

            <h2>Employee Portal</h2>

            <div class="logo">
                <img src="https://hubble.miraclesoft.com/assets/miracle-logo-dark.png">
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="login()">

                <label>Username</label>
                <input type="text" formControlName="username">

                <div
                    *ngIf="loginForm.get('username')?.touched &&
                    loginForm.get('username')?.hasError('required')"
                    class="error">
                    Username is required
                </div>

                <label>Password</label>
                <input type="password" formControlName="password">

                <div
                    *ngIf="loginForm.get('password')?.touched &&
                    loginForm.get('password')?.hasError('required')"
                    class="error">
                    Password is required
                </div>

                <button type="submit">Login</button>

            </form>

        </div>

    </div>

</div>
