.main-layout{

height:100vh;
display:flex;
flex-direction:column;

}


.body{

display:flex;
flex:1;

}


.content{

flex:1;
background:#f5f6fa;
padding:20px;
overflow:auto;

}


