<h3>Add Student Details</h3>
<form [formGroup]="updateform" (ngSubmit)="Update()">
    <label>Name:</label><br>
    <input type="text" formControlName="name">
    <div *ngIf="updateform.get('name')?.invalid && updateform.get('name')?.touched">
        <span>Please enter name!</span>
    </div>
    <br><br>

    <label>Email:</label><br>
    <input type="text" formControlName="email">
    <div *ngIf="updateform.get('email')?.invalid && updateform.get('email')?.touched">
        <span>Please enter email!</span>
    </div>
    <br><br>

    <label>Btech</label><br>
    <label><input type="radio" value="1st year" formControlName="class">1st Year</label>
    <label><input type="radio" value="2nd year" formControlName="class">2nd Year</label>
    <label><input type="radio" value="3rd year" formControlName="class">3rd Year</label>
    <label><input type="radio" value="4th year" formControlName="class">4th Year</label>
    <div *ngIf="updateform.get('class')?.invalid && updateform.get('class')?.touched">
        <span>Please mention year!</span>
    </div>
    <br><br>

    <label>Department:</label><br>
    <select formControlName="department">
        <option value="">Select</option>
        <option value="CSE">CSE</option>
        <option value="AI&DS">AI&DS</option>
        <option value="MECH">MECH</option>
        <option value="ECE">ECE</option>
        <option value="EEE">EEE</option>
    </select>
    <div *ngIf="updateform.get('department')?.invalid && updateform.get('department')?.touched">
        <span>Please select department!</span>
    </div>
    <br><br>

    <label>CGPA</label><br>
    <input type="number" formControlName="marks">
    <div *ngIf="updateform.get('marks')?.invalid && updateform.get('marks')?.touched">
        <span>Please enter CGPA!</span>
    </div>
    <br><br>

    <label>Gender:</label>
    <label>
        <input type="radio" name="gender" value="male" formControlName="gender">Male
    </label>
    <label>
        <input type="radio" name="gender" value="female" formControlName="gender">Female
    </label>
    <label>
        <input type="radio" name="gender" value="others" formControlName="gender">Others
    </label>
    <div *ngIf="updateform.get('gender')?.invalid && updateform.get('gender')?.touched">
        <span>Select gender!</span>
    </div>
    <br><br>

    <button type="submit" >Update</button>
    
</form>


    
   

 