<header class="header">
    <!-- Left Logo -->
   <div class="logo-header">
    <div class="header-left">
    <div class="menu-icon"
     (click)="toggle.emit()">
     ☰
    </div>
    </div>
    <div class="logo">
        <img src="https://hubble.miraclesoft.com/assets/img/miracle-logo-white.svg" alt="Logo">
    </div>
    <div class="icon">
            <img src="https://hubble.miraclesoft.com/assets/M.svg" alt="logo">
        <img src="https://hubble.miraclesoft.com/assets/miraclemefav.ico" alt="logo">
        <img src="https://hubble.miraclesoft.com/assets/B.svg" alt="logo">
        <img src="https://hubble.miraclesoft.com/assets/H.svg" alt="logo">
    </div>
    </div> 
    
    <!-- Right User -->
    <div class="header-right">
        <div class="profile">
            <div class="user-details">
                <div class="name">
                    Dilleswari Lingam
                </div>
                <div class="role">
                    Software Trainee
                </div>
            </div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS73OboNq8YpolvhWur1kpvkaggtHmHEzhY7RPohICuOA&s=10" alt="Profile">
            <button (click)="Signout()">Logout</button>
        </div>
    </div>
</header>
